<div class="container">
  @if (optimizationPolicies.length > 1) {
    <div class="mat-icon-container">
      <label for="optimization-policy-select">Opt. Policy</label>
      <select (change)="handleClickSelectOptimizationPolicy($event)" id="optimization-policy-select">
        @for (optimizationPolicy of optimizationPolicies; track $index) {
          <option>{{optimizationPolicy}}</option>
        }
      </select>
    </div>
  }

  @if (hasCurModel) {
    <div class="mat-icon-container">
      <button mat-icon-button matTooltip="Upload processed graphs json to server" (click)="handleClickUploadGraph()" [disabled]="!hasOverrides || isProcessingExecuteRequest">
        <mat-icon>upload</mat-icon>
      </button>
    </div>
  }

  @if (hasCurModel) {
    <div class="mat-icon-container">
      <button
        mat-icon-button
        matTooltip="Execute graph"
        (click)="handleClickExecuteGraph()"
        [disabled]="isProcessingExecuteRequest && !hasOverrides && !graphHasErrors"
        [ngStyle]="{ display: !isProcessingExecuteRequest ? 'block' : 'none' }"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <mat-progress-spinner
        diameter="24"
        [mode]="executionProgress > 0 ? 'determinate' : 'indeterminate'"
        [value]="executionProgress"
        [ngStyle]="{ display: isProcessingExecuteRequest ? 'block' : 'none' }"
      ></mat-progress-spinner>
    </div>
  }

  <button
    mat-icon-button
    matTooltip="Log messages"
    (click)="handleLogDialogOpen()"
  >
    <mat-icon>insert_comment</mat-icon>
  </button>
</div>
