# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/

name: Run Server Code CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'src/server/**'
  pull_request:
    branches: [ "main" ]
    types: [labeled, synchronize, opened, reopened]
    paths:
      - 'src/server/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check-ci-run-label:
    name: Check ci:run label
    runs-on: ubuntu-latest
    steps:
      - run: echo "Run on branch $BRANCH_NAME by $PR_AUTHOR"
        env:
          BRANCH_NAME: ${{ github.head_ref }}
          PR_AUTHOR: ${{ github.event.pull_request.user.login }}
      - name: Fail if no ci:run label
        if: ${{ !((github.event.pull_request.user.login == 'copybara-service[bot]') || contains(github.event.pull_request.labels.*.name, 'ci:run')) }}
        run: exit 1

  remove-ci-run-label:
    name: Remove ci:run label
    runs-on: ubuntu-latest
    needs: check-ci-run-label
    steps:
      - name: remove-cirun
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ci:run') }}
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.issues.removeLabel({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                name: 'ci:run'
            })
        continue-on-error: true
  
  run-formatting:
    name: Formatting
    needs: remove-ci-run-label
    uses: ./.github/workflows/formatting.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}


