# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/
#

name: Test Build Single Adapter PyPI

on:
  workflow_dispatch:
    inputs:
      runner:
        description: 'Hosted Runner'
        required: true
        default: ubuntu-22.04
        type: choice
        options:
          - ubuntu-22.04
          - macos-latest
          - ubuntu-22.04-arm

      python-version:
        description: 'Python Version'
        required: true
        default: '3.11'
        type: choice
        options:
          - '3.13'
          - '3.12'
          - '3.11'
          - '3.10'
          - '3.9'

      package-version:
        description: 'Package Version'
        required: true
        default: '0.0.0'
        type: string

      create-release:
        description: 'Create a GitHub Release?'
        required: true
        default: false
        type: boolean

jobs:
  # Job 1: Build the single wheel file
  build:
    runs-on: ${{ github.event.inputs.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ github.event.inputs.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ github.event.inputs.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel twine

      - name: Build Package
        run: |
          cd ./src/builtin-adapter
          ./python/pip_package/build_pip_package.sh ${{ github.event.inputs.package-version }}

      - name: Verify the Distribution
        run: twine check ./src/builtin-adapter/gen/adapter_pip/dist/*

      - name: Upload Wheel as an Artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-wheels-${{ github.event.inputs.runner }}-${{ github.event.inputs.python-version }}
          path: ./src/builtin-adapter/gen/adapter_pip/dist/*.whl

  # Job 2: Create the release using the built artifact
  release:
    # This job runs only after the 'build' job succeeds
    needs: build
    if: github.event.inputs.create-release == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download wheel from build job
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Display downloaded files
        run: ls -R dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*.whl
          prerelease: true
          tag_name: adapter-v${{ github.event.inputs.package-version }}
